<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>


<body>

<!-- Start of first page: #one -->
<div data-role="page" id="one">


	<div data-role="header">
			
		<div data-role="controlgroup" data-type="horizontal" >
			<a href="index.html" rel="external" data-role="button" data-icon="home">Home</a>
			<a href="#" data-rel="back" data-role="button" data-icon="back">Back</a>
			<a href="#" data-role="button" data-icon="info">Contact us</a>
		</div>

	
	</div><!-- /header -->
	
	<div data-role="content" >

		<h1>You are in! What do you want to do next?</h1>
		
		<p><a href="sell.html" rel="external" data-role="button">Sell a book</a></p>
		<p><a href="buy.html"  rel="external"data-role="button" data-rel="dialog" data-transition="pop">Buy a book</a></p>
		<p><a href="Manage_my_account.html" rel="external" data-role="button" data-rel="dialog" data-transition="pop">Manage my account</a></p>
	</div><!-- /content -->

</div><!-- /page one -->

